/* Styles CSS pour le calendrier */
/* Vous pouvez personnaliser ces styles selon vos préférences */
@import "/css/scrollBar.css";
@import "./spinner.css";
body{
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    background-image: url('../upload/images/pexels-tara-winstead-7723802.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
}
#calendar {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
}

#demande-conge-form {
    display: none;
}

.jour-ecoule {
    text-decoration: line-through;
    color: gray;
}

.spinnerContainer{
    width: 800px;
    height: 100%;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}
.calendarContainer{
    height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

