/* Style général pour le tableau */

/* Style pour les cellules de "valeur" */
@import "/css/scrollBar.css";
td#info_type_conges {
  color: #00a000;
  border-left: 3px solid #ccc; /* Ajouter une barre verticale */
}
.btn-primary.leave {
  background-color: #007bff; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur du lien */
  text-decoration: none; /* Supprimer la décoration du lien */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de la souris en forme de main */
  font-size: 16px; /* Taille de la police */
  display: inline-block; /* Afficher en ligne pour ajuster la largeur au contenu */
  margin-right: 10px; /* Marge à droite pour séparer les éléments */
}

.btn-primary.leave:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}

#printButton {
  background-color: #499ca7; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de la souris en forme de main */
  font-size: 16px; /* Taille de la police */
}

#printButton:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}


h2{
  text-align: center;
  justify-content: center;

}
/* Style pour les lignes du tableau avec une barre horizontale en bas */
tr {
  border-bottom: 1px solid #ccc;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* Style pour les titres "Champ" et "Valeur" */
th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

/* Style alternatif pour les lignes de "questions" et "réponses" */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style pour les cellules */
td {
  padding: 8px;
}

/* Style pour les cellules de "champ" */
td#code_employe_id {
  color: #ff0000;
  font-weight: bold;
}

/* Style pour les cellules de "valeur" */
td#info_type_conges {
  color: #00a000;
}

/* Style pour le texte en gras dans les "questions" */
tr.question td:first-child {
  font-weight: bold;
}
