@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
@import "/css/button.css";
@import "/css/animation.css";
@import "/css/scrollBar.css";
@import"/css/side_bar.css";

*{
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 550vh;
  background-color:#F2F3F5;

}
.range-div{
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* padding: 0px 25px; */
}


/* Style de la div principale */
/* .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
} */

/* Style du titre */
.h11 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  height: 30px;
  margin: 15px;
}

/* Style des légendes des fieldsets */
legend {
  font-weight: bold;
}

/* Style des fieldsets */
fieldset {
  /* border: 1px solid #ccc; */
  padding:10px;
  margin-bottom: 10px;
}

/* Style des éléments de formulaire */
.form-group {
  margin-bottom: 15px;
}

/* Style des boutons de soumission */
/* button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
} */

/* Mettre les deux derniers fieldsets en ligne */
.fieldset-container {
  display: flex;
  justify-content: space-between;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  padding: 10px;
  border-radius: 25x;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="email"],
select,
label {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  border: none;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}
.form-box.openedmodal{
  display: flex;
}
.modal-container{
  overflow-y: auto;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Le reste du CSS reste inchangé */
/* ... */
.image-user{
  width:200px;
  height: 190px;
  border: dashed 3px rgb(133,133,133);
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  margin-top: 20px;
  margin-left: 15px ;
  background-color: #FFF;
}
.image-user img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}
.big{
  width: 100%;
}
#photo{
  display: none;
}
.photo-employe{
  width: 40px;
  padding: 5px;
  height: 40px;
}
.searchSelect{
  margin-bottom: 20px;
}
.seah6{
  text-align: center;
  justify-content: center;
  display: flex;
  height: 30px;
  font-size: 20px;
}
.photo-employe img{
object-fit: cover;
width: 100%;
height: 100%;
border-radius: 3px;
}

.image-container{
  display: flex;
}
.upload-icon{
  position: absolute;
  color: #0091da;
  cursor: pointer;
  z-index: 2;
}
button{
  width: 30%;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #0091da;
  margin: 0 10px;
}
.btn-container{
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;

}

/* css tableau employes */

/* Style général de la page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 20px;
  flex-direction: column; */

}

/* Style du champ de recherche */
#search {
  /* width: 100%; */
  /* padding: 10px; */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 280px);
}

/* Style du bouton "Ajouter Employé" */
#addEmployee {
  display: flex;
  margin: 10px auto;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
}
.fieldset1{
  margin-top: 100px;
}

/* Style du tableau */
table {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
  border-radius: 3px;
}
/* .table-grand{
  width: 1200px;
  overflow-x: scroll;
  overflow-y: hidden;
} */
.div-grand{
  margin: 40px;
  z-index: 3;
}

table, th, td {
  border: 1px solid #ccc;
}
tbody{
  width: 100vw;
}

th, td {
  /* padding: 8px; */
  text-align: left;
}
td{
  font-weight: 400px;
  font-size: 12px;
}
td h6{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  font-size: 12px;
}
th h6{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  font-size: 15px;

}
.action-container{
  display: flex;
  position: absolute;
  justify-content: right;
  align-items: center;
  width: 100%;
  z-index: 2;
}
.button-container button,#show-action{
  margin-left:10px ;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 40px;
  height: 40px;
  
}
#delete-action{
  background-color:#dc3545;

}
#show-action{
  background-color: #fd7e14;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
.action-container svg {
  width :25px;
  height:25px;
}
#edite-action{
  background-color: #28a745;
}
.button-container{
  position: relative;
  width: 100%;
  height: 60px;
}
.slide-top {
	-webkit-animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-bottom {
	-webkit-animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 /* tableau css */

 /* CSS pour le tableau */
.table-grand {
  min-width: 1000px !important;
  /* width: 100%; */
  background: #fff;
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29)!important;
  text-align: center ;
  overflow-x: scroll ;
  overflow-y: auto ;
  height: 600px ;
}
.photo-employe{
  padding: 0px!important;
  height: 100% ;
}
.search-tbn{
  display: flex ;
  justify-content: center ;
  align-items: center;
}
.table-grand thead.thead-primary {
  background: #6807f9 !important;
}
th{
  background: #6807f9 !important;

}

.table-grand thead th {
  border: none ;
  padding: 30px ;
  font-size: 14px ;
  color: #fff ;
}

.table-grand tbody tr {
  margin-bottom: 10px ;
}

.table-grand tbody th,
.table-grand tbody td {
  border: none ;
  padding: 30px ;
  font-size: 14px ;
  background: #fff ;
  vertical-align: middle ;
  border-bottom: 2px solid #f8f9fd ;
}

.table-grand tbody th.scope {
  background: #e8ebf8 ;
  border-bottom: 2px solid #e0e5f6 ;
}

@media (min-width: 768px) {
  .table-grand tbody td:nth-child(odd) {
    background: #f4f6fc ;
    border-bottom: 2px solid #eceffa ;
  }
}

.photo-employe img {
  max-width: 100px ;
  max-height: 100px ;
  object-fit: cover ;
}
.btn.btn-primary {
  cursor: pointer ;
  border-width: 2px ;
  border-radius: 2px ;
  font-size: 13px ;
  font-weight: 500 ;
  background: #6807f9 ;
  border-color: #6807f9 ;
  color: #fff ;
  margin: 10px ;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  outline: none !important ;
  box-shadow: 0px 12px 20px -6px rgba(0, 0, 0, 0.21) ;
}
