@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
@import "./modal.css";

*{
  font-family: "Roboto",sans-serif;
  font-weight: 500;
}
body{
    width: 100vw;
    height: 100vh;
}
.perform{
  position: relative;
}
.blue-btn{
  position: absolute;
  top: -70px;
  right: -250px;
  display: none !important;
}
.nav-link:hover{
  background-color: #0d6efd;
  
}
.grand{
  height: 100vh;
}
.btn-button{
  cursor: pointer;
  margin: 0px;
  padding: 10px 15px;
  justify-content:flex-start!important;
  display: flex;
}
.dropdown-item:hover{
  background-color: #0d6efd;
}
.div-perform{
  justify-content: flex-start!important;
  display: flex;
}
.perform:hover .blue-btn{
  display: flex !important;
}
main{
    height: 100%;
}
.inverse{
  transform: rotateY(180deg);
  position: relative;
}
.inverses{
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#FFF;
  justify-content: center;
  align-items: center;
}
.inverses h1{
  color:#000000;
}
.espace-restant{
  position: relative;
  width: calc(100vw - 280px);
  height: 100vh;
}
.fare-ground{
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.espace-restant img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  
}
.fare-ground h1, .fare-ground h6{
  z-index: 10;
}
.text-container{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.fare-ground h6 {
  text-align: center;
  color: #FFF;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
.deconnection-btn{
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
  border-radius: 3px;
  background-color: #FFF;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 130px;
  height: 30px;
  z-index: 10;
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;

}
.deconnection-btn a{
  color: #000000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav li{
  margin-bottom: 15px;
}
.perform-text-contain{
  display: flex;
  align-items: center;
}