@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
.img_employee{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.div_container_taches{
  display: flex;
  width: 100%;
  height: 100%;
}
#taches {
  width: 100%;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0px 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
.table_taches{
  width: 100%;
}
.table_taches button{
  border-radius: 3px;
  width: 220px;
  background-color: white;
  border: none;
  justify-content: center;
  align-items: center;
  color: green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  cursor: pointer;
  display: flex;
}
.table_taches button svg {
  height: 20px;
  width: 20px;
  color: green;
  justify-content: center;
  align-items: center;
  display: flex;
}
.form_modale_form{
  height: 300px;
}
.modale_form{
  width: 220px;
  height: 250px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 15px 0;
  display: none;
}
.input_employe{
  position: relative;
}
.employe_container{
  height: 150px;
  /* justify-content: center; */
  display: none;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 150px;
  position: absolute;
  background-color: white;
  top: 50px;
  left: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 5px 15px 5px;
}
.employe_container .employe_parent{
  width: 100%;
  height: 30px;
  border-bottom: solid 1px #DDDDDD;
  display: flex;
  text-decoration: none;
  cursor: pointer;

}
.employe_container .employe_parent:hover h6{
  color: white;

}
.employe_container .employe_parent:hover{
  background-color: #007bff;
  
}
.employe_container .employe_parent img{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;

}
.employe_container .employe_parent span{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent!important;
}
.employe_container .employe_parent span h6{
  color: black!important;
  font-size: 12px;
  margin: 0 10px;
}
.tache_frame{
  width: 220px;
  height: 120px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 15px 0;

}
.tache_name_child{
  display: flex;
}
select{
  width: 100%;
  margin-right: 10px;
  border: #fff;
  outline: none;
}
.select_tache{
  display: flex;
  width: 100%;
}
.tache_name_frame{
  height: 70px;
  display: flex;
  flex-direction: column;
}
.date_frame{
  height: 40px;
  border-top: 1px solid #DDDDDD;
  justify-content: space-between !important;
  align-items: center!important;
  display: flex!important;

}
.tache_frame svg{
  height: 20px;
  width: 20px;
  color: green;
  justify-content: center;
  align-items: center;
  display: flex;

}
/* .field_container{
  display: flex;
  align-items: center;
  height: 100%;
} */
.modale_form svg{
  height: 20px;
  width: 20px;
  color: green;
  justify-content: center;
  align-items: center;
  display: flex;
}
.todo_container{
  position: relative;
}
/* css formulaire */
.form_modale_form {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.field_container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field_container span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.field_container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
}

.field_container input[type="date"] {
  width: auto; /* Réinitialise la largeur pour le champ de date */
}

.form_modale_form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.form_modale_form input[type="submit"]:hover {
  background-color: #0056b3;
}
